<!-- templates/cliente_detail.html -->

{% extends "base.html" %}

{% block title %}Detalles del Cliente{% endblock %}

{% block content %}
<div class="detail-card">
    <h2>Detalles del Cliente</h2>
    <div class="detail-content">
        <p><strong>Nombre:</strong> {{ cliente.nombres_cliente }} {{ cliente.apellidos_cliente }}</p>
        <p><strong>Institución:</strong> {{ cliente.institucion.nombre_institucion }}</p>
        <p><strong>Dirección:</strong> {{ cliente.direccion_cliente }}</p>
        <p><strong>Tipo de Cliente:</strong> {{ cliente.tipo_cliente }}</p>
        <p><strong>DUI:</strong> {{ cliente.dui_cliente }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ cliente.fecha_nacimiento_cliente }}</p>
    </div>
    <div class="button-group">
        <a href="{% url 'cliente_update' cliente.pk %}" class="button-edit">Editar</a>
        <a href="{% url 'cliente_list' %}" class="button-back">Volver a la lista</a>
    </div>
</div>
{% endblock %}